@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

body, html {
    font-family: sans-serif;
    height:100%;
    width: 100%;
    position: absolute;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #DCDCDC;
}

div {
    text-align: center;
    font-family: Roboto, sans-serif;
}


/* phones */
.main {
    height: auto;
    width: 150px;
    border-radius: 50%;
}

.about {
  font-size: 12px;
}

.leftMain {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 12px;
}

.icon {
    height: 12px;
    width: auto;
}

.linkedin {
    height: 13px;
    width: auto;
}

.center-text {
    height: 12px;
    text-align: center;
}

.res{
  margin: 5px;
}

.panels {
    position:relative;
    height: 70%;
    min-height:70%;
    width:100%;
    z-index:1000;
}

.centered {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:0%;
}

.pad {
    padding-top: 4%;
}

.centeredMain {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centeredRules {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rule {
    width: 30%;
    display: block;
    float: left;
    margin-left: 2%;
}

.margin {
  margin-top: 10%
}

.full {
  height: 100%;
}

.photo {
  width: 200px;
}

.main-photo {
  width: 250px;
}

.thin-photo {
  width: 100px;
}

.caption {
  font-size: 10px;
  color: lightgrey;
}

@media only screen and (min-width: 600px) {
/* tablets */
}

@media only screen and (min-width: 768px) {
/* desktop */
  .main {
      height: 300px;
      width: auto;
  }

  .caption {
    font-size: 12px;
    color: lightgrey;
  }

  .photo {
    width: 600px;
  }

  .main-photo {
    width: 800px;
  }

  .thin-photo {
    width: 300px;
  }

  .icon {
      height: 20px;
      width: auto;
  }

  .linkedin {
      height: 22px;
      width: auto;
  }

  .center-text {
      height: 20px;
      text-align: center;
  }

  .res{
    margin: 5px;
  }

  .centered {
      width: 250px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top:0%;
  }

  .centeredMain {
      width: 400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .leftMain {
      width: 800px;
      display: block;
      padding: 40px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      font-size: 16px;
  }

  .about {
    font-size: 14px;
  }

  .pad {
      padding-top: 10%;
  }
}

.autoWidth {
  width: auto;
}
