@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body, html {
    height:100%;
}
div {
    text-align: center;
    font-family: Roboto;
}

.main {
    height: 250px;
    width: auto;
}

.icon {
    height: 20px;
    width: auto;
}

.linkedin {
    height: 22px;
    width: auto;
}

.center-text {
    height: 35px;
    text-align: center;
}

.centered {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:0%;
}

.centeredMain {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20%;
}

#a {
    position:fixed;
    top: 0;
    z-index: -99;
}

#b {
    margin-top: 100%;
    background: white;
    padding-bottom: 5%;
}

#c {
    width: 800px;
}

#d {
    background: white;
    height: 100%
}

#e {
    width: 800px;
}

.panels {
    position:relative;
    height: 70%;
    min-height:70%;
    width:100%;
    z-index:1000;
}

.pad {
    padding-top: 15%;
}
.projectSlide{
    width: 100%;
    height: 400px;
}

.slick-prev:before, .slick-next:before{
    color: black;
}
.slide{
    height:400px;
    text-align:center;
}
